body{
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #ffffff;
}
.container{
    background:linear-gradient(100deg, #03001e 0%, #24c1f1 30%, #9209d2 40%, #fdeff9 100%);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
    border-radius: 25px;
    margin-top: 60px;
}
h1{
    font-size: 40px;
    text-align: center;
    margin-bottom: 20px;
}
.form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
label{
    font-weight: bold;
    margin-bottom: 10px;
}
input{
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    max-width: 300px;
}
button{
    background-color: #ff2e63;
    color: whitesmoke;
    border: none;
    padding: 10px 20px;
    margin-top:  10px;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
button:hover{
    background-color:aqua;
    color: black;
    font-weight: bold;
    border: 1px pink;
}
#result{
    margin-top: 20px;
    font-size: 25px;
    font-weight: bold;
}